/** Responsive Styles **/

/** Breakpoint 1024 **/
@media screen and (max-width: 1024px) {
    .nav{
        width: 100vw;
    }
    .menuItem{
        padding: auto;
        margin: auto;
    }

}

/** Breakpoint 768 **/
@media screen and (max-width: 768px) {

    .nav{
        width: 100vw;
        align-items: center;
        justify-content: space-around;
    }

    .logo img{
        width: 100px;
    }

    .menuItem{
        padding: auto;
        margin: auto;
    }

    .menuList{
        margin-right: 100px;
    }

    .items{
        padding: 0 2px;
        margin: 0 5px;
    }

    .introLeft{
        width: 60%;
        padding: 20px 70px 70px 50px;
    }

    .introLeftHeading{
        font-size: 25px;
        padding: 0;
    }

    .introLeftDescription{
        font-family: 'Poppins',sans-serif;
        font-size: 15px;
        font-weight: 300;
    }

    .detailedInfo{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .detailedInfoLeft{
        width: 500px;
    }

    .leftHead{
        padding: 0;
    }
    
    .detailedInfo{
        height: auto;
        width: auto;
    }

    .detailedInfoRight{
        margin-top: 20px;
    }


}